.catalog {
  &--loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.catalog-list {
  padding: 30px 0;
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}